.myHeader {
    padding: "10px";
    background-Color: black;
    color: white;
}

.myContainer {
    margin-left: "20%";
    padding-right: "8%";
}

.fullwidth {
    width: "100%";
}

.nomargin {
    margin: "0";
    padding: "0";
    width: "100%",
}

.inputStyle {
    margin: "0";
    padding: "0";
    width: "100%";
    text-align: "left";
}

.col4_padding {
    width: "100%";
    text-align: "left";
    padding: "30px";
}

.testBackG {
    background-color: "wheat"
}

.textLeft {
    text-align: "left"
}

.labelmargin {
    margin-top: "20px";
    margin-top: "20px";
    font-weight: "bold";
}

.inlineD {
    display: "inline";
    margin-left: "20px";
}

.labelPadding2 {
    margin-top: "10px";
    margin-bottom: "30px"
}